.row, .head {
    display: block;
    justify-content: space-between;
    border-bottom: solid 1px;
    height: 30px;
    padding:10px;
    .row__id {
        float:left;
        width:10%;
    }
    .row__column {
        float:left;
        width: 35%;
    }
    .row__position {
        float: left;
        width: 20%;
    }
}

.head {
    background-color: rgb(110, 204, 204);
}


/* .head {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
} */