.row, .head {
    display: block;
    justify-content: space-between;
    height: 20px;
    padding:10px;
    .row__id {
        float:left;
        width:10%;
    }
    .row__column {
        float:left;
        width: 35%;
    }
    .row__group {
        float: left;
        width: 20%;
    }
}

.row:nth-child(2n) {
    background-color: #f2f2f2;
}


.head {
    background-color: #e9f1ef;
}