.row, .head {
    display: block;
    justify-content: space-between;
    height: 20px;
    padding:10px;
    .row__id {
        float:left;
        width:5%;
    }
    .row__fullname {
        float:left;
        width: 30%;
    }
    .row__email {
        float:left;
        width: 50%;
    }
    .row__group {
        float: left;
        width: 15%;
    }
}
.row:nth-child(2n+1) {
    background-color: #f2f2f2;
}
.head {
    background-color: #e9f1ef;
}


.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card {
        width: 176px;
        height: 212px;
        margin: 10px;
        text-align: center;
        padding: 20px;
        background-color: #f0f0f0;
        .card__name {
            font: 600 20px sans-serif;
        }
        .card__info {
            padding-top: 10px;
            font-size: 17px;
            color: rgb(53, 53, 53);
            word-break: break-all;
        }
    }
}

.groups {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    .group {
        width: 194px;
        margin: 10px;
        text-align: start;
        padding: 10px;
        border: 1px solid black;
        .group__title {
            padding: 10px;
            font: 600 20px sans-serif;
        }
        .group__person {
            padding: 10px;
            border: 1px solid black;
            font-size: 15px;
            word-break: break-all;
            color: rgb(53, 53, 53);
            .group__person_email{
                font-size: 11px;
            }
        }

    }
}

.forms {
    display: flex;
    padding: 10px 50px 10px 50px;
    justify-content: space-evenly;
}