.wrapper {
    padding: 20px;
    max-width:1000px;
    margin: 0 auto;
    color: rgb(43, 43, 43);
}


.code {
    float:right;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    align-items: flex-start;
    margin-left: 20px;
    border-radius: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    color: white;
    background-color: rgb(43, 43, 43);
    position: relative;
    .code__tab {
        padding-left: 25px;
    }
    .code__description {
        position: absolute;
        bottom: 0px;
        right: 20%;
        font: 400 16px sans-serif;
        color: gray;
    }

}
.folder {
    width: 20px;
}
.pics {
    text-align: center;
}