.header {
    grid-area: header;
    background-color: rgb(26, 61, 71);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .header__nav {
        display: flex;
        min-height: 100px;
        justify-content: space-between;
        align-items: center;
        .header__nav_link {
            padding: 20px;
        }
    }
}

a, a:visited {
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(214, 212, 212);
}