.header {
    /* grid-area: header; */
    background-color: rgb(26, 61, 71);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .header__nav {
        display: flex;
        .header__nav_link {
            padding: 20px;
        }
    }
}

a, a:visited {
    text-decoration: none;
}

.active {
    color: #b8f1e3;
}

.item {
    color: white;
}
.item:hover{
    color: rgb(214, 212, 212);
}