.app-wrapper {
  max-width: 1500px;
  min-width: 800px;
  margin: 0 auto; 
}


.app-wrapper-content {
  background-color: rgb(255, 255, 255);
}

body {
  font: 400 20px sans-serif;
  background-color: rgb(26, 61, 71);;
}