.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header"
  "main";

  width: 1200px;
  margin: 0 auto; 
}


.app-wrapper-content {
  grid-area: main;
  background-color: rgb(255, 146, 255);
}

body {
  font: 400 24px sans-serif;
}