.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header"
  "main";

  width: 1200px;
  margin: 0 auto; 
}


.app-wrapper-content {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

body {
  font: 400 20px sans-serif;
}